<app-player *ngFor="let player of game.players; let i = index;" [name]="player" [playerActive]="i == game.currentPlayer" class="player-position" [ngStyle]="{'top.px': 150 + (i * 90)}"></app-player>

<div class="playground">
    <div class="card-stack">
        <!-- card stack -->
        <div *ngIf="this.game.stack.length >= 5">
            <img *ngFor="let cards of [0, 1, 2, 3]; let i = index;" [ngStyle]="{'left.px': i * 5}" src="assets/img/cards/card_cover.png" alt="">
            <img (click)="pickCard()" src="assets/img/cards/card_cover.png" alt="" style="left: 25px;">
        </div>
        <div *ngIf="this.game.stack.length < 5">
            <img (click)="pickCard()" *ngFor="let card of this.game.stack; let i = index;" [ngStyle]="{'left.px': i * 5}" src="assets/img/cards/card_cover.png" alt="">
        </div>

        <!-- stack of played card -->
        <img *ngFor="let card of game.playedCards" class="played-card" src="assets/img/cards/{{ card }}.png" alt="">

        <!-- animated card-->
        <img *ngIf="this.game.pickCardAnimation" class="pick-card" src="assets/img/cards/{{ this.game.currentCard }}.png" alt="" style="left: 25px;">
    </div>
</div>

<app-game-info [card]="this.game.currentCard" class="game-info"></app-game-info>

<button mat-fab color="primary" (click)="openDialog()" class="btn-add">
    <mat-icon>add</mat-icon>
</button>