<div class="scroll-container-v hide-mobile">
    <app-player (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index;" [name]="player" [playerImage]="game.playerImages[i]" [playerActive]="i == game.currentPlayer"></app-player>
</div>

<div class="scroll-container-h hide-desktop">
    <app-player-mobile (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index;" [name]="player" [playerImage]="game.playerImages[i]"
        [playerActive]="i == game.currentPlayer"></app-player-mobile>
</div>

<div class="playground">
    <div class="card-stack">
        <!-- card stack -->
        <div *ngIf="this.game.stack.length >= 5">
            <img *ngFor="let cards of [0, 1, 2, 3]; let i = index;" [ngStyle]="{'left.px': i * 5}" src="assets/img/cards/card_cover.png" alt="">
            <img (click)="pickCard()" src="assets/img/cards/card_cover.png" alt="" style="left: 25px;">
        </div>
        <div *ngIf="this.game.stack.length < 5">
            <img (click)="pickCard()" *ngFor="let card of this.game.stack; let i = index;" [ngStyle]="{'left.px': i * 5}" src="assets/img/cards/card_cover.png" alt="">
        </div>

        <!-- stack of played card -->
        <img *ngFor="let card of game.playedCards" class="played-card" src="assets/img/cards/{{ card }}.png" alt="">

        <!-- animated card-->
        <img *ngIf="this.game.pickCardAnimation" class="pick-card" src="assets/img/cards/{{ this.game.currentCard }}.png" alt="" style="left: 25px;">
    </div>
</div>

<app-game-info [card]="this.game.currentCard" class="game-info"></app-game-info>

<button mat-fab color="primary" (click)="openDialog()" class="btn-add">
    <mat-icon>add</mat-icon>
</button>

<img *ngIf="this.game.stack.length > 0" src="assets/img/cards/{{ this.game.stack[this.game.stack.length - 1] }}.png" alt="">