.playground {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-image: url('/assets/img/table-bg.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    position: relative;
    height: 160px;
    width: 240px;
    transform: translateX(80px) translateY(120px);
    ;

    @media (max-width: 768px),
    (max-height: 992px) {
        height: 100px;
        width: 150px;
        transform: translateX(-72px) translateY(-75px);
    }

    img {
        width: 160px;
        height: 240px;
        position: absolute;
        cursor: pointer;

        @media (max-width: 768px),
        (max-height: 992px) {
            width: 120px;
            height: 180px;
        }
    }
}

.pick-card {
    transform: scale(1.1) translateY(-290px) translateX(-100px) rotate(18deg);
    animation: pick-card-animation 1.25s ease-in-out;

    @media (max-width: 768px),
    (max-height: 992px) {
        transform: scale(1) translateY(0px) translateX(145px) rotate(0deg);
        animation: pick-card-animation-mobile 1.25s ease-in-out;
    }
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.5);
    }

    60% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.1) translateY(-290px) translateX(-100px) rotate(18deg);
    }
}

@keyframes pick-card-animation-mobile {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.5);
    }

    60% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1) translateY(0px) translateX(145px) rotate(0deg);
    }
}

.played-card {
    left: 25px;
    transform: scale(1.1) translateY(-290px) translateX(-100px) rotate(18deg);

    @media (max-width: 768px),
    (max-height: 992px) {
        transform: scale(1) translateY(0px) translateX(145px) rotate(0deg);
    }
}

.player-position {
    position: absolute;
    right: 0;
}

.btn-add {
    position: absolute;
    bottom: 32px;
    right: 64px;

    @media (max-width: 768px) {
        right: 16px;
        bottom: 176px;
    }
}

.game-info {
    position: absolute;
    right: 152px;
    bottom: 32px;
    left: 64px;
    color: white;

    @media (max-width: 768px) {
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.scroll-container-h {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    gap: 8px;
    padding: 0 8px;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: #f1f1f1;

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #424242;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.scroll-container-v {
    width: 240px;
    position: absolute;
    top: 64px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;

    // &::-webkit-scrollbar {
    //     width: 5px;
    //     height: 5px
    // }

    // &::-webkit-scrollbar-track {
    //     background: #f1f1f1;
    // }

    // &::-webkit-scrollbar-thumb {
    //     background: #424242;
    // }

    // &::-webkit-scrollbar-thumb:hover {
    //     background: #555;
    // }
}

app-player,
app-player-mobile {
    cursor: pointer;

    &:hover {
        filter: brightness(1.2);
    }
}