<mat-card>
    <mat-card-header>
        <mat-card-title *ngIf="this.amountPlayer <= 1 && !this.isGameOver">{{ card ? title : 'Add player' }}</mat-card-title>

        <mat-card-title *ngIf="this.amountPlayer > 1 && !this.isGameOver">{{ card ? title : 'Please pick a card' }}</mat-card-title>

        <mat-card-title *ngIf="this.isGameOver">{{ 'Game Over!' }}</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="this.amountPlayer <= 1 && !this.isGameOver">At least two players must be added to start the game.<br>A player can be edited by clicking on the profile
        picture.</mat-card-content>

    <mat-card-content *ngIf="this.amountPlayer > 1 && !this.isGameOver">{{ card ? description : 'Click on the card stack to get the next card.' }}</mat-card-content>

    <mat-card-content *ngIf="this.isGameOver">{{ 'This game is over! This round is over. Do you want to start a new game? Click on "Restart".' }}</mat-card-content>

    <mat-card-actions *ngIf="this.isGameOver" align="end">
        <button (click)="restartGame(this.currentPlayers)" mat-raised-button color="primary">Restart</button>
    </mat-card-actions>
</mat-card>